
/*for the main of the body*/
.maincont{
    width: 80%;
    margin: 30px auto;
    padding: 35px;
    border-radius: 20px;
}
.maincont  p{
    margin: 20px; 
    display: flex; /* Enables Flexbox */
    align-items: center; /* Aligns the text and image vertically */
    gap: 10px;
}
.maincont h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 35px;
}

.main3 h4{
    text-align: center;
}

.main3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
   margin: 50px 0 100px;
}
.main3 a{
    color: #eaf4f9;
    text-decoration: none;
   }
.main3 section{
    width: 35%;
    height: 150px;
    background-color: #005f99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color:white;
    cursor: pointer;
}
.button{
    margin: 10px;
    height: 38px;
    width: 100px;
    cursor: pointer;
}
